body {
    margin: 5%;
    padding: 5%;
    }
    
    header{
        background:black;
    }

    nav ul li a {
        color: darkviolet;  
    }
    
    nav ul li {
        display: inline-block;
        list-style-type: none;
        padding: 2%;
        margin: 1%;
    }
    
    .grid {
        display: grid;
        grid-template-columns:  1fr 1fr;
        grid-template-rows:  1fr 1fr 1fr;
        grid-template-areas: 
        "title title "
        "left QLW "
        "footer footer ";
    }
    
    .title{
        grid-area:title;
        background-color: rgb(27, 120, 163);
    }
    
    .left{
        grid-area:left;  
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIG8wmz1ms8A5CjyZtAXU4XraE3F5QpIATVMO-ZaOUWAQrzkM2SA)
    }
    .QLW{
        grid-area:QLW;  
        background-color: brown;
    }
    
    .footer{
        grid-area:footer; 
        background-color: grey;  
    }

    